.App {
  text-align: center;
  width: 960px;
  margin: auto;
}

.App-header {
  background-color: #222;
  padding: 10px;
  height: 35px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.container {
  height: 960px;
  width: 960px;
}