.App {
  text-align: center;
  width: 960px;
  margin: auto;
}

.App-header {
  background-color: #222;
  padding: 10px;
  height: 35px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.container {
  height: 425px;
  width: 960px;
  display: grid;
  margin: 10px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 8fr 1fr;
  grid-gap: 5px;
}