.board-6, .board-5, .board-4 {
  display: grid;
  grid-gap: 4px;
}

.board-6 {
  height: 450px;
  width: 450px;
}

.board-5 {
  height: 375px;
  width: 375px;
}

.board-4 {
  height: 300px;
  width: 300px;
}